<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="copy">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">Codecool Webshop</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a  href="/">Home</a></li>
                </ul>
                <div class="cart">
                    <button class="btn btn-warning" type="button">
                        <span class="glyphicon glyphicon-piggy-bank"> </span>
                        <span th:text="*{cartItemTotal != null}? *{cartItemTotal} +'' : '0'"></span>
                    </button>
                </div>
            </div>
        </nav>
    </div>
</body>
</html>