<!DOCTYPE html>
<html llang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header::header"></div>
</head>
<body>
    <div th:replace="fragments/navbar::navbar"></div>

    <form method="post">
        <div class="container">
            <h2>Registration</h2>
            <div class="input fist_name">
                <p>First name</p>
                <input type="text" onblur="validateNameFormat()"></input>
            </div>
            <div class=" input last_name">
                <p>Last name</p>
                <input type="text" onblur="validateNameFormat()"></input>
            </div>
            <div class="input email">
                <p>Email</p>
                <input type="text" onblur="validateEmailFormat()"></input>
            </div>
            <div class="input password">
                <p>Password</p>
                <input type="password" onblur="validatePasswordFormat()"></input>
            </div>
        </div>

    </form>

    <div th:replace="fragments/footer::copy"></div>
</body>

</html>