<!DOCTYPE html>
<html llang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header::header"></div>
</head>
<body>
    <div th:replace="fragments/navbar::navbar"></div>

    <form method="post">
        <v class="container">
            <h2>Registration</h2>
            <div class="registration fist_name" id="names">
                <p>First name</p>
                <input type="text" class="required" name="first_name" id="names" onblur="validateNameFormat()"></input>
            </div>
            <div class="registration input last_name" id="names">
                <p>Last name</p>
                <input type="text" class="required" name="last_name" id="names" onblur="validateNameFormat()"></input>
            </div>
            <div class="registration email">
                <p>Email</p>
                <input type="text" class="required" name="email" id="email" onblur="validateEmailFormat()"></input>
            </div>
            <div class="registration password">
                <p>Password</p>
                <input type="password"  class="required" name="password" onblur="validatePasswordFormat()"></input>
            </div>
            <button class="btn btn-primary submit" type="submit">Valami szöveg</button>
            <div id="alert"></div>
        </div>

    </form>

    <div th:replace="fragments/footer::copy"></div>
</body>

</html>