<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="shippingaddress">
    <div class="col-lg-6">
        <p>Enter an address here to calculate shipping time and costs:</p>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Shipping address..." id="user-address"></input>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="calculate-shipping">Calculate</button>
            </span>
        </div>
    </div>
</div>

</body>
</html>